<div id="container-form row-fluid">
	<div class="content span12">
		<p class="lead">Enter your session id to initilize remote for your impressjs presentation.</p>
		<div class="control-group">
		  <div class="controls">
		    <input id="session_id" name="session_id" placeholder="Session ID" type="text">
		  </div>
		</div>
		<input type="button" value="Enter" id="enter_session" class="btn btn-info"/>
	</div>
</div>
