<div id="container-form">
	<header>
		<h1><%= title %></h1>
	</header>

	<div class="content">
		<p>Enter your session id to initilize remote for your impressjs presentation.</p>

		<input type="text" id="session_id" name="session_id" class="tf" placeholder="session id"/>
		<input type="button" value="Enter" id="enter_session" class="submit_button"/>
	</div>
</div>
