<div id="container-session">
	<header>
		<h1>Remote for session :  <%= key %> </h1>
	</header>

<script type="text/javascript">
	var presentation_key = '<%= key %>';
</script>


<div id="nav_buttons">
	<div id="prev_btn"><span>&nbsp;</span></div>
	<div id="next_btn"><span>&nbsp;</span></div>
</div>

</div>