<div id="container-session">
	<header>
		<h1>Session:  <%= key %> </h1>
	</header>

<script type="text/javascript">
	var presentation_key = '<%= key %>';
</script>

<div id="keyboard">
	<div class="keys">&nbsp;</div>
	<div class="keys up">&nbsp;</div>
	<div class="keys">&nbsp;</div>

	<div class="keys left">&nbsp;</div>
	<div class="keys center">&nbsp;</div>
	<div class="keys right">&nbsp;</div>

	<div class="keys">&nbsp;</div>
	<div class="keys down">&nbsp;</div>
	<div class="keys">&nbsp;</div>	
</div>

</div>