<h3>Remote for session :  <%= key %> : </h3>

<script type="text/javascript">
	//var presentation_id = '<%= socketid %>';
	var presentation_key = '<%= key %>';
</script>


<div id="nav_buttons">
	<input type="button" value="Previous" id="prev_btn"/>
	<input type="button" value="Next" id="next_btn"/>
</div>