/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }









@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



body {
  margin: 0;
  font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
  background: #e6e7e2;
  color: #555;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 em, h2 em {
  padding: 0 5px;
  font-weight: normal;
}
h1 {
  font-size: 40px;
}
h2 {
  margin-top: 10px;
}
h3 {
  margin: 5px 0 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
}
#container-form{
}
#container-form header , #container-session header{
  height:44px;
  background-image: linear-gradient(bottom, rgb(52,120,147) 0%, rgb(72,166,203) 62%);
  background-image: -o-linear-gradient(bottom, rgb(52,120,147) 0%, rgb(72,166,203) 62%);
  background-image: -moz-linear-gradient(bottom, rgb(52,120,147) 0%, rgb(72,166,203) 62%);
  background-image: -webkit-linear-gradient(bottom, rgb(52,120,147) 0%, rgb(72,166,203) 62%);
  background-image: -ms-linear-gradient(bottom, rgb(52,120,147) 0%, rgb(72,166,203) 62%);
  border-bottom: 1px solid #1a5063;
}
#container-form header h1, #container-session header h1{
  font-size:23px;
  color: #ece8e9;
  padding: 5px;
  text-align:center;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
#container-form .content, #container-session .content{
  padding:20px;
  color:#383836;
  text-align:center;
}

#container-form .content p, #container-session .content p {
  margin:2px 5px 15px 5px;
  font-size:14px;
  line-height:19px;
}
#container-form .content input.tf {
  display: block;
  padding: .4em;
  width:97%;
  outline:0;
  font-size:16px;
  line-height: 1.4;
  -webkit-appearance: none;
  -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 1px 4px  rgba(0, 0, 0, .2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
  -moz-border-radius: .6em;
  -webkit-border-radius: .6em;
  border-radius: .6em;
  border: 1px solid #AAA;
  color: #333; 
  text-shadow: 0 1px 0 white;
  background: #F9F9F9;
}



.submit_button{
  margin: 20px auto;
  width:200px;
  text-decoration:none; 
  text-align:center; 
  padding:12px 19px; 
   border:solid 1px #004F72; 
   -webkit-border-radius:4px;
   -moz-border-radius:4px; 
   border-radius: 4px; 
   font:12px Arial, Helvetica, sans-serif; 
   font-weight:bold; 
   color:#e5ffff; 
   background-color:#2f6375; 
   background-image: -moz-linear-gradient(top, #2f6375 0%, #1982A5 100%); 
   background-image: -webkit-linear-gradient(top, #2f6375 0%, #1982A5 100%); 
   background-image: -o-linear-gradient(top, #2f6375 0%, #1982A5 100%); 
   background-image: -ms-linear-gradient(top, #2f6375 0% ,#1982A5 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
   background-image: linear-gradient(top, #2f6375 0% ,#1982A5 100%);   
   -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
   -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
   box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

.submit_button:hover{
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#a6e7fc; 
 background-image: -moz-linear-gradient(top, #a6e7fc 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #a6e7fc 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #a6e7fc 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #a6e7fc 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #a6e7fc 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
#nav_buttons{
  height:100%;
}

#nav_buttons #prev_btn, #nav_buttons #next_btn {
  width:50%;
  display: block;
  float: left;
  height:200px;
}



#nav_buttons #prev_btn{text-decoration:none; text-align:center; 
 padding:7px 19px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#e5ffff; 
 background-color:#2f6375; 
 background-image: -moz-linear-gradient(top, #2f6375 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #2f6375 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #2f6375 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #2f6375 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #2f6375 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }

  #nav_buttons #prev_btn:hover{
 padding:7px 19px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#a6e7fc; 
 background-image: -moz-linear-gradient(top, #a6e7fc 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #a6e7fc 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #a6e7fc 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #a6e7fc 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #a6e7fc 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

#nav_buttons #next_btn{text-decoration:none; text-align:center; 
 padding:7px 19px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#e5ffff; 
 background-color:#000000; 
 background-image: -moz-linear-gradient(top, #000000 0%, #264854 100%); 
 background-image: -webkit-linear-gradient(top, #000000 0%, #264854 100%); 
 background-image: -o-linear-gradient(top, #000000 0%, #264854 100%); 
 background-image: -ms-linear-gradient(top, #000000 0% ,#264854 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264854', endColorstr='#264854',GradientType=0 ); 
 background-image: linear-gradient(top, #000000 0% ,#264854 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }#nav_buttons #next_btn:hover{
 padding:7px 19px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#a6e7fc; 
 background-image: -moz-linear-gradient(top, #a6e7fc 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #a6e7fc 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #a6e7fc 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #a6e7fc 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #a6e7fc 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }